{% extends 'layout/base.html' %}


{% block titulo %}
Página de Inicio
{% endblock titulo %}


{% block cuerpo %}
{% load static %}

<div class="container">
    <main>
        <div class="row">
            <div class="col-8">
                <h1>ToolStock</h1>
                <p class="fs-5 col-md-12 ">Aquí encuentras toda la información que necesites sobre productos de
                    ferreteria</p>

                <div class="row py-md-5">
                    {% if user.is_authenticated%}
                    <div class="col-3">
                        <a href="{% url 'gruposadmin' %}" class="btn btn-primary ">Ir a los grupos</a>
                    </div>
                    {% else %}
                    <div class="col-4">
                        <a href="{% url 'gruposcliente' %}" class="btn btn-primary ">Clientes / Proveedores</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'login' %}" class="btn btn-primary">Administradores</a>
                    </div>
                    {% endif %}
                </div class="row">
            </div>
            <div class="col-4">
                <img src="{% static 'img\index\index-portada.jpg' %}" alt="logotio" width="356"></a>
            </div>
        </div>

    </main>
</div>




<!--
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'img\logo_toolstock.png' %}" alt="logotio" width="220"
                    height="50" class="d-inline-block align-text-top"></a>
        </div>
    </nav>
</header>
-->


{% endblock cuerpo %}