<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en">

<head>

      <title>MACH5</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="screen">
    <link rel="stylesheet" href="layout.css" type="text/css" media="screen">
    <script src="js/jquery-1.6.3.min.js"></script>
    <script src="js/cufon-yui.js"></script>
    <script src="js/cufon-replace.js"></script>
    <script src="js/NewsGoth_BT_400.font.js"></script>
    <script src="js/FF-cash.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/tms-0.3.js"></script>
    <script src="js/tms_presets.js"></script>

    <!--<script src="js/easyTooltip.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>



<body id="page1">

    <p align="right" margin="auto">
        <h9><font color="#000">VISITANTES MACH5</font></h9><br>

       <a><img src="https://counter6.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=bg1rxy533gkbsyrrpqm3smh2b9ayl28c" border="0" alt="contador de visitas com"></a>


    </p>


    <div class="extra">
        <div class="main">
            <!--==============================header=================================-->
            <header>
                <div class="indent">
                   
                    <div class="row-top">
                        <div class="wrapper">
                            <marquee width=200 direction=left>

                                <img src="images/logmm.png" alt=" " />                            <!--  <h1><a href="MACH5.sln">MACH5</a></h1>-->

                            </marquee>
                            <strong class="support">Ventas Sogamoso:3168385716 Fabrica Sogamoso:3168385716 Email:mach5sas@gmail.com</strong>
                        </div>
                    </div>
                    <nav>
                        <ul class="menu">
                            <li><a class="active" href="mara.html">home</a></li>
                            <li><a href="#EMPRESA">EMPRESA</a></li>
                            <li><a href="#PRODUCTOS">PRODUCTOS</a></li>
                            <li><a href="#COTIZACION">COTIZACIÓN</a></li>
                            <li><a href="#CONTACTENOS">POLITICAS</a></li>
                            <li class="last"><a href="#POLITICAS">CONTÁCTENOS</a></li>
                        </ul>


                    </nav>

                </div>

                <div class="wrapper">
                    <div class="slider">

                        <!-- imagenes que pasan las mas grandes
                        <!-- <li> <img src="images/slider-img2.jpg" alt=""> </li>
                        <li><img src="images/slider-img3.jpg" alt=""></li>-->


                        <script>

                            var imagenes = new Array(

                                ['images/slider-img1.jpg'],
                                ['images/slider-img2.jpg'],
                                ['images/slider-img3.jpg'],
                                ['images/slider-img4.jpg'],
                            );

                            function rotarImagenes() {
                                // obtenemos un numero aleatorio entre 0 y la cantidad de imagenes que hay
                                var mara = Math.floor((Math.random() * imagenes.length));

                                // cambiamos la imagen y la url
                                document.getElementById("imagen").src = imagenes[mara][0];


                            }

                            /**
                             * Función que se ejecuta una vez cargada la página
                             */
                            onload = function () {
                                // Cargamos una imagen aleatoria
                                rotarImagenes();

                                // Indicamos que cada 5 segundos cambie la imagen
                                setInterval(rotarImagenes, 2000);

                            }

                        </script>

                        <img src="" id="imagen" />



                        <!--aqui podemos cambiar una imagen pasando el clic

                        <img src="images/slider-img1.jpg"
                          onmouseover="this.src='images/slider-img2.jpg';"
                            onmouseout="this.src='images/slider-img1.jpg';" />

                          <img src="images/slider-img1.jpg" alt="">-->


                    </div>
                    <!--<a class="prev">prev</a> <a class="next">next</a>-->


                    <div class="images/banner1-bg">

                        <img src="images/banne-1.png" 
                             onmouseover="this.src='images/banner-1a.png';"
                             onmouseout="this.src ='images/banne-1.png';" />
                    </div>

                </div>
            </header>
            <!--==============================aside================================-->
            <aside>
                <div class="wrapper">
                    <div class="column-1">
                        <div class="box">
                            <div class="aligncenter">
                                <h4>Norma Técnica Nacional</h4>
                            </div>
                            <div class="box-bg maxheight">
                                <div class="padding">
                                    <h6 class="color-1">Reglamento Técnico </h6>
                                    <p ALIGN="left">Todos nuestros productos estan hechos bajo la Normatividad Técnica Colombiana de sismorresistencia.</p>
                                </div>
                                <!--<div class="aligncenter"> <a class="button" href="#">Ver detalles</a> </div>-->

                            </div>
                        </div>
                    </div>
                    <div class="column-1">
                        <div class="box">
                            <div class="aligncenter">

                                <h4>Misión</h4>
                            </div>
                            <div class="box-bg maxheight">
                                <div class="padding">
                                    <p ALIGN="left">
                                        Mach 5 S.A.S transforma acero para producir y comercializar Malla Electrosoldada como parte estructural en el desarrollo de obras civiles,
                                        cercamientos y otros usos empleados en la utilización de esta tela metálica.
                                    </p>
                                </div>
                                <!--<div class="aligncenter"> <a class="button" href="#">Ver Detalles</a> </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="column-2">
                        <div class="box">
                            <div class="aligncenter">

                                <h4>Visión</h4>
                            </div>
                            <div class="box-bg maxheight">
                                <div class="padding">
                                    <h6 class="color-1"></h6>
                                    <p ALIGN="left">
                                        Mach 5 S.A.S se visualiza como una empresa desarrollada en el sector metalmecánico, ofreciendo diferentes líneas de producto
                                        para el uso del hierro en la construcción, generando ofertas de valor a sus clientes y nuevos empleos directos e indirectos
                                        a nivel regional.
                                    </p>
                                </div>
                                <!--<div class="aligncenter"> <a class="button" href="#">Mas Detalles</a> </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!--==============================content================================-->
            <section id="content">
                <div class="wrapper">
                    <article class="col-1">
                        <div class="indent-left">

                            <a name="EMPRESA" id="EMPRESA"></a>
                            <p>
                                <h2 align="center"><a class=" link #ffd800" href="#">BIENVENIDOS A MACH 5</a></h2>
                            <p class="prev-indent-bot" align="justify">
                                Mach 5 S.A.S es una empresa dedicada a la transformación de acero con el propósito de producir telas metálicas para la construcción.<br>
                                Mach 5 S.A.S elabora Malla Electrosoldada de calidad para asegurar las estructuras de diferentes obras civiles y prefabricados.
                            </p>
                            <div>
                                <a name="PRODUCTOS" id="PRODUCTOS"></a>
                                <h3><a class=" link #ffd800" href="#">PRODUCTOS</a></h3>
                                <p align="justify">
                                    Malla Electrosoldada: Producto compuesto por grafiles de acero, organizados de manera longitudinal y transversal,
                                    cruzándose entre si y sus puntos de contacto se fijan con soldadura eléctrica.
                                    La Malla Electrosoldada se implementa como parte de la estructura en las diferentes obras de tipo civil y prefabricado.
                                    Además contribuye a un proceso de edificación más sencillo y económico.
                                </p>

                                <table>
                                    <tr>
                                        <th><b>Producto</b></th>
                                        <th><b>Dimensión (m)</b></th>
                                        <th><b>Desiganción</b></th>
                                        <th><b>Numero de barras malla</b></th>
                                        <th><b>Diametro (mm)</b></th>
                                        <th><b>Separación (cm)</b></th>
                                        <th><b>Peso (Kg)</b></th>
                                    </tr>
                                    <!-- fila 1-->
                                    <tr>
                                        <th>Rollo 3 mm</th>
                                        <th>18 x2.35 </th>
                                        <th>-</th>
                                        <th>-</th>
                                        <th>3.0 </th>
                                        <th>15 X15 </th>
                                        <th>-</th>
                                    </tr>
                                    <!-- fila 2-->
                                    <tr>
                                        <th>Rollo 4 mm </th>
                                        <th>18 x2.35 </th>
                                        <th>Q2RX18</th>
                                        <th>16 L X 120 T </th>
                                        <th>4.0</th>
                                        <th>15 X15 </th>
                                        <th>56.1</th>
                                    </tr>
                                    <!-- fila 3-->
                                    <tr>
                                        <th>Panel 4 mm</th>
                                        <th>6 x2.35 </th>
                                        <th>XX-0848</th>
                                        <th>16 L X 40 T </th>
                                        <th>4.0 </th>
                                        <th>15 X15 </th>
                                        <th> 18.8</th>
                                    </tr>
                                    <!-- fila 4-->
                                    <tr>
                                        <th>Panel 4.5 mm</th>
                                        <th>6 x2.35 </th>
                                        <th>XX-106</th>
                                        <th>16 L X 40 T </th>
                                        <th>4.5 </th>
                                        <th>15 X15 </th>
                                        <th>23.8</th>
                                    </tr>
                                    <!-- fila 5-->
                                    <tr>
                                        <th>Panel 5 mm</th>
                                        <th>18 mx2.35 m</th>
                                        <th>Q2RX18</th>
                                        <th>16 L X 40 T </th>
                                        <th>5.0 </th>
                                        <th>15 X15 </th>
                                        <th>20.3</th>
                                    </tr>

                                </table><br>


                                        <marquee width="980px" scrolldelay=1>
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                            <img src="images/p1.png" />
                                            <img src="images/p2.png" />
                                            <img src="images/p3.png" />
                                            <img src="images/p4.png " />
                                        </marquee>

                            </div>

                            <div>
                                <h3>USOS</h3>
                                <P>
                                    1.Obras civiles <br>
                                    2.Cercamientos <br>
                                    3.Mobiliario y Accesorios <br>
                                </P>


                            </div>

                            <a name="COTIZACION" id="COTIZACION"></a>
                            <h3><a class=" link #ffd800" href="#">COTIZACION</a></h3>

                            <p align="justify">
                                Los precios de nuestros productos varían según el comportamiento del sector siderurgico.




                                <!--
                <div style=" width:130px; margin:2px; padding:2px; background-color:#189d0e; border-radius:15px;color:white;">
                    <a href="https://api.whatsapp.com/send?phone=573102843281" target="_blank">Chatear con Ventas</a>

                </div>
                    -->
                                <a name="POLITICAS" id="POLITICAS"></a>
                                <h3><a class=" link #ffd800" href="#">POLITICAS</a></h3>
                            <p>
                                1. Contribuir en la rentabilidad de nuestros clientes.<br>
                                2. Producción limpia.<br>
                                3. Competitividad.<br>
                                4. Aportar al desarrollo de nuestro pais.<br>
                            </p>
                            
                                <a name="CONTACTENOS" id="CONTACTENOS"></a>

                                <h3><a class=" link #ffd800" href="#">CONTACTENOS</a></h3>
                                <p align="justify">
                                    Denos el gusto de atenderlo, contactenos en:<br>
                                    Dirección: Calle 4 #13-42 Sogamoso<br>
                                    e-mail:mach5sas@gmail.com<br>
                                    Ventas Sogamoso:3168385716/3165411070<br>
                                    <a href="https://api.whatsapp.com/send?phone=573168385716" target="_blank"><img src="images/what.png" /></a>
                                    <a href="https://m.facebook.com/mach5sas/?ref=bookmarks" target="_blank"><img src="images/facelog.png"></a>
                                    <div class="ubicacion" align="right">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d192.9351763995554!2d-72.93476728575206!3d5.709549136653512!2m2!1f0!2f2.041865080722056!3m2!1i1024!2i768!4f51.65935479406345!3m3!1m2!1s0x8e6a45cf904d6edb%3A0xfe38f9e33a3065b6!2sCl.+4+%2313-42%2C+Sogamoso%2C+Boyac%C3%A1!5e1!3m2!1ses-419!2sco!4v1558019731921!5m2!1ses-419!2sco" width="420" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </p>    
                                  

                                                                   
                            </div>
                    </article>
                    <article class="col-2">
                        <h3>Nuestros Lideres</h3>
                        <div class="wrapper indent-bot">
                            <div class="imagen">
                                <figure class="img-indent"><img src="images/lider1.jpg" alt=""></figure>
                                <div class="extra-wrap text-1">
                                    <div class="margin-top">
                                        <h6><a class="link color-2" href="#">Ana María López </a></h6>
                                        <p> Profesional en Marketing y Negocios Internacionales, Universidad Sergio Arboleda.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="imagen">
                                <figure class="img-indent"><img src="images/page1-img2.jpg" alt=""></figure>
                                <div class="extra-wrap text-1">
                                    <div class="margin-top">
                                        <h6><a class="link color-2" href="#">Roque López</a></h6>
                                        <p>Ingeniero Industrial, Universidad Pedagógica  Tecnológica de Colombia.</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>
                <div class="block"></div>
            </section>

        </div>


    </div>

    <!--==============================footer=================================-->
    <footer>
        <div class="main">
            <div class="footer-bg">
                <p class="prev-indent-bot">
                    Copyright &copy; <a href="#">MACH5 S.A.S</a> Derechos reservados||Diseñado por <a target="_blank" href="https://m.facebook.com/mach5sas/?ref=bookmarks">MACH5 S.A.S</a><br>
                    <a href="https://www.informacolombia.com/directorio-empresas/informacion-empresa/mach-5-sas" target="_blank"><img src="images/logmmm.png"></a>
                    <br>
                    <marquee behaviour=alternate font-size="100px" scrolldelay=20 bgcolor="#ffd800" width=600>
                     <h9>ESTRUCTURANDO PROYECTOS</h9>
                    </marquee>
                </p>
                <ul class="list-services">

                    <li><a class="tooltips" href="#"></a></li>
                    <li class="item-1"><a class="tooltips" href="#"></a></li>
                    <li class="item-2"><a class="tooltips" href="#"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script>Cufon.now();</script>
    <script>
        $(window).load(function () {
            $('.slider')._TMS({
                duration: 800,
                easing: 'easeOutQuart',
                preset: 'simpleFade',
                slideshow: 7000,
                banners: false,
                pauseOnHover: true,
                waitBannerAnimation: false,
                prevBu: '.prev',
                nextBu: '.next'
            });
        });
    </script>

</body>
  
</html>
